AWS_REGION=us-east-1
LOGIN_TABLE_NAME=login
MUSIC_TABLE_NAME=music
SUBSCRIPTION_TABLE_NAME=subscriptions
S3_BUCKET_NAME=assessment2-music-app-group3-bucket
SECRET_KEY=/0LXHFQjk8I1vVL+FpfEvFcrs7wJwRlOJN6lv5fK