AWS_REGION=us-east-1
LOGIN_TABLE_NAME=login
MUSIC_TABLE_NAME=music
SUBSCRIPTION_TABLE_NAME=subscriptions
S3_BUCKET_NAME=assessment2-music-app-group3-bucket
SECRET_KEY=RvK2e1UJUrK226ayxuHQXEVUuu6zDviBZF0fbPI3